<!DOCTYPE html>
<html>

<head>

<title>AI Interview Practice</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="hero">

<a href="/role/software" class="start-btn">Start an Interview →</a>

<br><br>

<a href="/preparation" class="prep-btn">Preparation</a>
<br><br>

<a href="/resume" class="resume-btn">Resume Builder</a>

</div>

<div class="main-section">

<div class="left">

<h1>Make your next job interview stress-free thanks to AI</h1>

</div>

<div class="right">

<div class="compare">

<h3>Without AI</h3>

<div class="bad">❌ Unprepared</div>
<div class="bad">❌ Nervous</div>
<div class="bad">❌ Ghosted</div>

</div>

<div class="compare">

<h3>With AI</h3>

<div class="good">✔ Organized</div>
<div class="good">✔ Confident</div>
<div class="good">✔ Better Results</div>

</div>

</div>

</div>
<!-- Success Stories Section -->

<div class="testimonials">

<p style="color:#1abc9c; font-weight:bold;">Success stories</p>

<h2>Interviews by AI helped these job seekers and 50,000+ more</h2>

<p class="sub-text">You're a mock interview away from your dream job.</p>

<div class="cards">

<div class="card">

<img src="https://i.pravatar.cc/100?img=1" class="avatar">

<h4>Henry Tran • Marketing</h4>

<p>"This tool helped me prepare better and feel confident in interviews."</p>

<div class="stars">★★★★★</div>

</div>


<div class="card">

<img src="https://i.pravatar.cc/100?img=5" class="avatar">

<h4>Jenny Jiang • Software Engineer</h4>

<p>"Amazing experience, the AI questions were very helpful."</p>

<div class="stars">★★★★★</div>

</div>


<div class="card">

<img src="https://i.pravatar.cc/100?img=8" class="avatar">

<h4>Charles Burr • UX Designer</h4>

<p>"I improved my answers and got better results in interviews."</p>

<div class="stars">★★★★★</div>

</div>

</div>

</div>

</body>

</html>